.addButton {
  background-color: #427c44a6;
  border: #000 1px solid;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 1em;
  cursor: pointer;
}