.navbar {
  background-color: #f1f4f6;
  max-width: 22%;
  min-width: 20%;
  height: 100vh;
  align-items: center;
}

.link{
  color: black;
  text-decoration: none;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: initial;
  flex-wrap: wrap;
  margin-left: 1%;
  padding: 1rem;
}

.button {
  background-color:#afb3b8;
  border: 1px solid #28292a;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 1rem;
  display: block;
  font-family: Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  white-space: nowrap;
}

.button:disabled {
  cursor: default;
  opacity: .3;
}

.button:hover {
  background-color: #6c757dbc;
  border-color: #f1f4f6;
  text-decoration: none;
}